# Artificial Neural Network

### Importing the libraries

In [1]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'

In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [3]:
tf.__version__

'2.11.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [4]:
dataset = pd.read_csv("Churn_Modelling.csv")
x = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [5]:
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [6]:
print(x)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [7]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

In [8]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
x[:, 2] = lb.fit_transform(x[:, 2])

Label Encoding the "Gender" column

In [9]:
print(x)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [11]:
print(x)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [14]:
print(x)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

## Part 2 - Building the ANN

### Initializing the ANN

In [15]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [16]:
ann.add(tf.keras.layers.Dense(units = 6, activation = "relu"))

### Adding the second hidden layer

In [17]:
ann.add(tf.keras.layers.Dense(units = 6, activation = "relu"))

### Adding the output layer

In [18]:
ann.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

## Part 3 - Training the ANN

### Compiling the ANN

In [19]:
ann.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])

### Training the ANN on the Training set

In [20]:
ann.fit(x_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7560
Epoch 2/100
250/250 [==============================] - 0s 765us/step - loss: 0.4699 - accuracy: 0.8044
Epoch 3/100
250/250 [==============================] - 0s 892us/step - loss: 0.4365 - accuracy: 0.8120
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4108 - accuracy: 0.8219
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3905 - accuracy: 0.8320
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3772 - accuracy: 0.8409
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3689 - accuracy: 0.8451
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3633 - accuracy: 0.8491
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3593 - accuracy: 0.8495
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3566 - accuracy: 0.8514
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3540 - accuracy: 0.8531
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3521 - accuracy: 0.8560
Epoch 13/100
250/250 [==============================] - 0s 950us/step - loss: 0.3500 - accuracy: 0.8534
Epoch 14/100
250/250 [==============================] - 0s 914us/step - loss: 0.3489 - accuracy: 0.8564
Epoch 15/100
250/250 [==============================] - 0s 938us/step - loss: 0.3476 - accuracy: 0.8576
Epoch 16/100
250/250 [==============================] - 0s 989us/step - loss: 0.3466 - accuracy: 0.8600
Epoch 17/100
250/250 [==============================] - 0s 936us/step - loss: 0.3455 - accuracy: 0.8586
Epoch 18/100
250/250 [==============================] - 0s 890us/step - loss: 0.3446 - accuracy: 0.8583
Epoch 19/100
250/250 [==============================] - 0s 920us/step - loss: 0.3443 - accuracy: 0.8594
Epoch 20/100
250/250 [==============================] - 0s 998us/step - loss: 0.3429 - accuracy: 0.8595
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8586
Epoch 22/100
250/250 [==============================] - 0s 1000us/step - loss: 0.3421 - accuracy: 0.8591
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3409 - accuracy: 0.8608
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8608
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3404 - accuracy: 0.8606
Epoch 26/100
250/250 [==============================] - 0s 981us/step - loss: 0.3392 - accuracy: 0.8602
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8614
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3397 - accuracy: 0.8611
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8595
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8616
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8609
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8619
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8616
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8606
Epoch 35/100
250/250 [==============================] - 0s 889us/step - loss: 0.3377 - accuracy: 0.8611
Epoch 36/100
250/250 [==============================] - 0s 987us/step - loss: 0.3376 - accuracy: 0.8634
Epoch 37/100
250/250 [==============================] - 0s 992us/step - loss: 0.3367 - accuracy: 0.8622
Epoch 38/100
250/250 [==============================] - 0s 798us/step - loss: 0.3372 - accuracy: 0.8622
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8622
Epoch 40/100
250/250 [==============================] - 0s 820us/step - loss: 0.3371 - accuracy: 0.8619
Epoch 41/100
250/250 [==============================] - 0s 769us/step - loss: 0.3369 - accuracy: 0.8624
Epoch 42/100
250/250 [==============================] - 0s 793us/step - loss: 0.3364 - accuracy: 0.8615
Epoch 43/100
250/250 [==============================] - 0s 857us/step - loss: 0.3362 - accuracy: 0.8616
Epoch 44/100
250/250 [==============================] - 0s 807us/step - loss: 0.3362 - accuracy: 0.8626
Epoch 45/100
250/250 [==============================] - 0s 793us/step - loss: 0.3361 - accuracy: 0.8624
Epoch 46/100
250/250 [==============================] - 0s 758us/step - loss: 0.3361 - accuracy: 0.8616
Epoch 47/100
250/250 [==============================] - 0s 781us/step - loss: 0.3362 - accuracy: 0.8622
Epoch 48/100
250/250 [==============================] - 0s 769us/step - loss: 0.3361 - accuracy: 0.8615
Epoch 49/100
250/250 [==============================] - 0s 798us/step - loss: 0.3359 - accuracy: 0.8610
Epoch 50/100
250/250 [==============================] - 0s 818us/step - loss: 0.3359 - accuracy: 0.8619
Epoch 51/100
250/250 [==============================] - 0s 772us/step - loss: 0.3356 - accuracy: 0.8616
Epoch 52/100
250/250 [==============================] - 0s 753us/step - loss: 0.3354 - accuracy: 0.8612
Epoch 53/100
250/250 [==============================] - 0s 805us/step - loss: 0.3356 - accuracy: 0.8639
Epoch 54/100
250/250 [==============================] - 0s 816us/step - loss: 0.3353 - accuracy: 0.8626
Epoch 55/100
250/250 [==============================] - 0s 782us/step - loss: 0.3356 - accuracy: 0.8625
Epoch 56/100
250/250 [==============================] - 0s 782us/step - loss: 0.3356 - accuracy: 0.8606
Epoch 57/100
250/250 [==============================] - 0s 746us/step - loss: 0.3354 - accuracy: 0.8630
Epoch 58/100
250/250 [==============================] - 0s 778us/step - loss: 0.3348 - accuracy: 0.8619
Epoch 59/100
250/250 [==============================] - 0s 793us/step - loss: 0.3351 - accuracy: 0.8618
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8626
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8635
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8624
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8619
Epoch 64/100
250/250 [==============================] - 0s 965us/step - loss: 0.3345 - accuracy: 0.8633
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8635
Epoch 66/100
250/250 [==============================] - 0s 887us/step - loss: 0.3342 - accuracy: 0.8630
Epoch 67/100
250/250 [==============================] - 0s 740us/step - loss: 0.3342 - accuracy: 0.8641
Epoch 68/100
250/250 [==============================] - 0s 789us/step - loss: 0.3340 - accuracy: 0.8641
Epoch 69/100
250/250 [==============================] - 0s 741us/step - loss: 0.3343 - accuracy: 0.8637
Epoch 70/100
250/250 [==============================] - 0s 775us/step - loss: 0.3344 - accuracy: 0.8640
Epoch 71/100
250/250 [==============================] - 0s 788us/step - loss: 0.3339 - accuracy: 0.8641
Epoch 72/100
250/250 [==============================] - 0s 789us/step - loss: 0.3339 - accuracy: 0.8631
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8636
Epoch 74/100
250/250 [==============================] - 0s 755us/step - loss: 0.3337 - accuracy: 0.8636
Epoch 75/100
250/250 [==============================] - 0s 833us/step - loss: 0.3335 - accuracy: 0.8636
Epoch 76/100
250/250 [==============================] - 0s 856us/step - loss: 0.3340 - accuracy: 0.8626
Epoch 77/100
250/250 [==============================] - 0s 824us/step - loss: 0.3339 - accuracy: 0.8630
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8644
Epoch 79/100
250/250 [==============================] - 0s 890us/step - loss: 0.3338 - accuracy: 0.8633
Epoch 80/100

250/250 [==============================] - 0s 805us/step - loss: 0.3337 - accuracy: 0.8627
Epoch 81/100
250/250 [==============================] - 0s 905us/step - loss: 0.3333 - accuracy: 0.8648
Epoch 82/100
250/250 [==============================] - 0s 780us/step - loss: 0.3335 - accuracy: 0.8630
Epoch 83/100
250/250 [==============================] - 0s 901us/step - loss: 0.3336 - accuracy: 0.8650
Epoch 84/100
250/250 [==============================] - 0s 781us/step - loss: 0.3335 - accuracy: 0.8619
Epoch 85/100
250/250 [==============================] - 0s 920us/step - loss: 0.3332 - accuracy: 0.8629
Epoch 86/100
250/250 [==============================] - 0s 782us/step - loss: 0.3334 - accuracy: 0.8627
Epoch 87/100
250/250 [==============================] - 0s 743us/step - loss: 0.3331 - accuracy: 0.8635
Epoch 88/100
250/250 [==============================] - 0s 773us/step - loss: 0.3333 - accuracy: 0.8626
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8627
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8625
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8629
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8625
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8637
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8629
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8624
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8635
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8635
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8629
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8635
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8631

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer?

In [21]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 101ms/step
[[False]]

**Solution**

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [22]:
y_pred = ann.predict(x_test)
y_pred = y_pred > 0.5
print(np.concatenate((y_test.reshape(-1 ,1 ), y_pred.reshape(-1, 1)), axis = 1))

63/63 [==============================] - 0s 1ms/step
[[0 0]
 [1 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [23]:
from sklearn.metrics import accuracy_score, confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)
print(accuracy_score(y_test, y_pred))

[[1511   84]
 [ 201  204]]
0.8575